.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
    background-color: transparent;
}
.nav-logo{
    display: flex;
    align-items: center;
    height: 20px;
    width: 13%;
    gap: 10px;
    z-index: 1;
}
.nav-logo img{
    width: 130px;
}
.nav-menu{
    display: flex;
    align-items: center;     
    justify-content: space-evenly;
    list-style: none;
    color: #626262a8;
    font-size: 20px;
    font-weight: 500;
    background-color: #f0d0f5ab;
    border-radius: 60px;
    padding: 15px 15px;
    width: 40%;
    transform: translateX(-120px);
    z-index: 1;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-menu li:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}
/* .nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
} */
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
    z-index: 1;
}
.nav-login-cart button{
    width: 80px;
    height: 58px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
}
.nav-login-cart .login img{
    transform: translateX(50px);
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -55px;
    border-radius: 15px;
    font-size: 14px;
    background: rgb(255, 115, 0);
    color: white;
}
.nav-dropdown{
    display: none;
}



@media (max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}

@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        font-size: 14px;
        gap: 25px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}

@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .nav-dropdown{
        display: block;
        width: 40px;
        rotate: -90deg;
        transition: ease 0.5s;
    }
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}
@media(max-width:500px){
    .navbar{
        padding: 8px 0px;
        gap: 0;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}